/* General Page Styling */
body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: #f1f1f1;
}

/* Navbar */
.navbar {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
    right: 10px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.8) !important; /* semi-transparent white */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* shadow effect */
    transition: 0.4s;
    border: none;
}

.navbar .navbar-brand {
    color: #ea4335;
}

.navbar .nav-link {
    color: #5f6368;
}

.navbar .nav-link:hover {
    color: #b38f00;
}

.no-underline:hover {
    text-decoration: none;
}

/* Dropdown menu */
.navbar .dropdown-menu {
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent */
    border-radius: 20px; /* rounded corners */
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hover effect for dropdown items */
.navbar .dropdown-menu .dropdown-item:hover {
    background-color:  rgba(254, 231, 139, 0.8); /* semi-transparent */
}

/* Rounded corners for the first and last dropdown items */
.navbar .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.hero-text {
    background-color: rgba(255, 255, 255, 0.75); /* semi-transparent */
    padding: 20px;
    text-align: center;
    color: #000000;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-text h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-text .btn-primary {
    margin-top: 20px;
}

.explore-section {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 4em 0; /* Increase the vertical spacing */
    padding: 4em 0; /* Increase the vertical padding */
}

.explore-section .container {
    position: relative; /* This will allow us to position the .explore-text divs relative to the .container div */
}

.explore-section .explore-text {
    background-color: rgba(255, 255, 255, 0.75); /* semi-transparent */
    padding: 20px;
    text-align: center;
    color: #000000;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%; /* Make the container take up half the width of the .container div */
    margin: 0 auto; /* Center the container */
    max-width: 800px; /* Maximum width to prevent it from stretching too much on larger screens */
    min-width: 300px; /* Minimum width to keep it from getting too skinny */
}

.explore-section:nth-child(even) .explore-text {
    margin-left: auto; /* Align the container to the right */
    margin-right: 0;
}

.explore-section:nth-child(odd) .explore-text {
    margin-left: 0; /* Align the container to the left */
    margin-right: auto;
}

/* Buttons */
.btn-primary {
    background-color: #ffd249;
    border-color: #ffd249;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #fcb935;
    border-color: #fcb935;
}

.btn-danger {
    background-color: #d93025;
    border-color: #d93025;
    border-radius: 30px;
}

/* Search Icon */
.search-icon {
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 15px;
}

/* Search Box */
.search-box {
    display: none;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 5px 15px;
    position: absolute;
    right: 60px;
    top: 15px;
}

/* Hover effect for search box */
.search-icon:hover + .search-box {
    display: block;
}
